<?xml version="1.0" encoding="UTF-8"?>
<config>
	<title>الأعدادات الرئيسية</title>
	<help>من هنا بمكنك ضبط الأعدادات الرئيسية للموقع</help>
	<pk>key</pk>
	<main>title</main>
	<option list="1" add="1" delete="0" edit="1" view="0" active="0" search="0" multi_add="0" multi_edit="1" ajaxEdit="1" ajaxAdd="0" />
	<fields>
		<key>
			<title>العنصر</title>
			<help>هذا الأسم يفهمه النظام ويتعامل معاه، تاكد من أن هذا الأسم صحيح من المبرمج.</help>
			<input>text</input>
			<validata required="1" />
			<option list="0" add="1" edit="0" view="0" search="1" multi_add="1" multi_edit="0" />
		</key>
		<title>
			<title>الوصف</title>
			<input readonly="readonly">text</input>
			<help>وصفح تفهمه عند تعديلك لهزه الخاصية.</help>
			<option list="1" add="1" edit="0" view="0" search="1" multi_add="0" multi_edit="0" />
		</title>
		<value>
			<title>القيمة</title>
			<input>textarea</input>
			<help>قيمة هذا الأعداد التي ستعامل على أساسها النظام.</help>
			<option list="1" add="1" edit="1" view="1" search="1" multi_add="0" multi_edit="1" />
		</value>
	</fields>
</config>